{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Admin Dashboard</title>
		<link
			rel="stylesheet"
			href="{% static 'CSSs/AdminDashboard.css' %}"
		/>
	</head>

	<body>
		{% block content %}
		<div id="navbar-container"></div>
		<main class="admin-dashboard">
			<h2>Admin Dashboard</h2>
			<p class="subtext">Manage all tasks efficiently.</p>

			<div
				class="task-list"
				id="taskList"
			></div>

			<button
				class="add-task-btn"
				onclick="location.href='{% url 'tasks' %}'"
			>
				➕ Add New Task
			</button>
		</main>
		{% endblock content %}

		<script
			src="{% static 'JSs/navBar.js' %}"
			type="module"
		></script>
		<script
			src="{% static 'JSs/admin_dashboard.js' %}"
			type="module"
		></script>
	</body>
</html>
