:root {
	--primary-black: #010409;
	--dark-gray: #151b23;
	--accent-blue: #3076e3;
	--accent-green: #00b222;
}

header {
	height: 60px;
	top: 20px;
	left: 0;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem 1rem;
	z-index: 999;
}

.search-bar {
	display: flex;
	width: 60%;
	justify-content: start;
	align-items: center;
}
.right-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.Profile a {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: #e6edf3;
}

#search {
	width: 100%;
	padding: 0.3rem;
	border-radius: 7px;
	margin: 0;
	height: 34px;
	border: none;
	background-color: var(--dark-gray);
	color: #e6edf3;
	font-size: 1rem;
	border: 1px solid var(--accent-blue);
	border-top: 0;
}

#search:focus {
	outline: none;
}

nav {
	width: 100%;
	top: 0;
	left: 0;
	height: 90px;
	font-size: 0.8rem;
	position: fixed;
	background-color: var(--dark-gray);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul,
a {
	text-decoration-line: none;
	color: aliceblue;
}

ul {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

header li {
	display: flex;
	justify-content: center;
	background-color: var(--accent-blue);
	align-items: center;
	height: 35px;
	display: flex;
	overflow: hidden;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	min-width: 90px;
	border-radius: 10px;
	transition: background-color 0.3s, font-size 0.3s, text-decoration-line 0.3s;
	cursor: pointer;
}

header li.button:hover {
	background-color: #3884ff;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

header nav ul li button {
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

header nav ul li button p {
	color: #e6edf3;
}
