:root {
  --primary-black: #010409;
  --dark-gray: #151b23;
  --accent-blue: #3076e3;
  --accent-green: #00b222;

  --white-text: white;
  --gray-texts: #cfcfcf;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--dark-gray);
  color: var(--accent-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.search-container {
  background: var(--primary-black);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.search-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: var(--accent-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search-form input {
  flex: 1;
  padding: 0.8rem;
  border: var(--primary-black) solid 4px;
  border-radius: 5rem;
  background: var(--dark-gray);
  color: var(--accent-blue);
  font-size: 1rem;
}

.search-form button {
  padding: 0.8rem 1.5rem;
  height: 3rem;
  border: none;
  border-radius: 5rem;
  background: var(--accent-green);
  color: var(--primary-black);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-form button:hover {
  background: var(--accent-blue);
}

.search-results {
  margin-top: 1rem;
  color: var(--accent-blue);
  font-size: 1rem;
}
