:root {
  --primary-black: #010409;
  --dark-gray: #151b23;
  --accent-blue: #3076e3;
  --accent-green: #00b222;

  --white-text: white;
  --gray-texts: #cfcfcf;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-black);
  color: var(--white-text);
  padding: 1rem 0rem;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 7px rgba(0, 0, 0, 0.5);
}
footer p {
  margin: 0;
  font-size: 0.8rem;
  color: var(--gray-texts);
}
