{% load static %}
<header id="navbar">
  <nav>
    <ul>
      <li>
        <img
          id="home"
          height="40"
          src="{% static 'Images/dark/homepage.png' %}"
          title="homepage"
        />
      </li>
      <li class="search">
        <label for="search">
          <img
            id="ser"
            height="40"
            src="{% static 'Images/dark/search.png' %}"
          />
        </label>
        <input
          id="search"
          type="search"
          placeholder="Type to search..."
          name="search"
        />
      </li>

      <li class="profile">
        <img
          id="Profile"
          height="40"
          src="{% static 'Images/dark/profile.png' %}"
          title="profile"
        />
        <ul>
          <li>
            <a href="{% url 'profile' %}"
              ><img
                height="30"
                src="{% static 'Images/dark/profile.png' %}"
                title="profile"
                id="dropdown_profile"
              />
              <h1>Profile</h1>
            </a>
          </li>
          <li>
            <a href="{% url 'settings' %}"
              ><img
                id="settings"
                height="30"
                src="{% static 'Images/dark/settings.png' %}"
                title="settings"
              />
              <h1>Settings</h1>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <img
          id="notification"
          height="40"
          src="{% static 'Images/dark/notification-panel.png' %}"
          title="notification panel"
        />
      </li>
    </ul>
  </nav>
</header>
