{% extends 'base.html' %} {% load static %} {% block title %}Admin Dashboard
<!--  -->
{% endblock title %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'CSSs/AdminDashboard.css' %}" />
{% endblock extra_head %} {% block content %}
<main class="admin-dashboard">
  <h2>Admin Dashboard</h2>
  <p class="subtext">Manage all tasks efficiently.</p>
  <div class="task-list" id="task-list"></div>
  <button
    class="add-task-btn"
    id="add-task-btn"
    onclick="window.location.href='{% url 'addtask' %}'"
  >
    ➕ Add New Task
  </button>
</main>
{% endblock content %} {% block extra_scripts %}
<script src="{% static 'JSs/admin_dashboard.js' %}" type="module"></script>
{% endblock extra_scripts %}
