{% extends 'base.html' %} {% load static %} {% block title %}Admin Task
Management{% endblock title %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'CSSs/AdminTask.css' %}" />
{% endblock extra_head %} {% block content %}
<div class="background"></div>
<div class="container">
  <h2>Admin Task Management</h2>
  <form id="add-task-form" autocomplete="off">
    <!-- The form fields will be rendered by add_task.js -->
  </form>
  <p class="login-link">
    Already have tasks?
    <a href="{% url 'dashboard' %}">View them here</a>
  </p>
</div>
{% endblock content %} {% block extra_scripts %}
<script src="{% static 'JSs/add_task.js' %}" type="module"></script>
{% endblock extra_scripts %}
