{% extends "base.html" %} {% load static %} {% block title %}Login - Step into
Smart Teaching{% endblock title %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'CSSs/login.css' %}" />
{% endblock extra_head %} {% block content %}
<div class="form-container">
  <h1 class="title">Step into Smart Teaching!</h1>
  <p class="subtitle">Log in and manage your assignments with ease.</p>

  <form class="login-form">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Enter your username"
      required
    />

    <label for="password">Password</label>
    <div class="password-input-container">
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
      />
    </div>

    <button type="submit" class="btn login-btn">Log In</button>

    <p class="switch-page">
      Don't have an account?
      <a href="{% url 'signup' %}">Sign up here</a>
    </p>
  </form>
</div>
{% endblock content %} {% block extra_scripts %}
<script src="{% static 'JSs/theme.js' %}" type="module"></script>
<script src="{% static 'JSs/settings.js' %}" type="module"></script>
<script src="{% static 'JSs/login.js' %}" type="module"></script>
{% endblock extra_scripts %} {% block navbar %} {% endblock %}
<!-- //////////////////////////////////////////////////////////////////// -->
{% block footer%}{% endblock %}
